
.home{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 20px auto;
   /* background-position: center center;
        background-size: cover;
        background-image: url("/ressource/mupanah2.jpeg");*/
}
img{
    width: 35vw;
    height: 35vw;
    margin-top: 20px;
    vertical-align: middle;
    align-self: center;
    border-radius: 50%;
    border: solid 1px var(--secondaryBackground);
}
.presentation{
    color: white;
    text-shadow: 1px 1px #000000;
    padding: 20px;
}
.presentation p:nth-child(1), .presentation p:nth-child(2){
    font-size: 1.5rem;
}

.presentation p:nth-child(3){
    font-size: 1.0rem;
}
.presentation p:nth-child(3) span{
    font-size: 0.8rem;
}

.social{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 10px auto;
}
.social div{
    padding: 10px;
    display: inline;
    background-color: var(--primaryText);
    /*border-radius: 50%;*/
    clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
}
.social>div>a{
    color: white;
}


@media only screen and (min-width: 768px){
    .home{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        height: 90vh;
        background-position: center center;
        background-size: cover;
        background-image: url("/ressource/mupanah2.jpeg");
    }
    
    img{
        width: 30vw;
        height: 30vw;
        vertical-align: middle;
        border-radius: 50%;
        
    }
    
    p{
        font-family: 'GFS Didot', serif;
        color: white;
        text-shadow: 1px 1px #000000;
    }
    .presentation{
        gap: 20px;
    }
    
    .presentation p:nth-child(1), .presentation p:nth-child(2){
        font-size: 44px;
    }
    
    .presentation p:nth-child(3){
        font-size: 24px;
    }
    .presentation p:nth-child(3) span{
        font-size: 14px;
    }
}