

:root{
    --primaryBackground:#1F232D;
    --secondaryBackground:#16171d;
    --primaryText:#03b1b2;
}

body{
    background-color: var(--primaryBackground);
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    padding: 0 10px;
    
}
.logo-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
   
}
.logo-toggle h3{
    color: var(--primaryText);
}
.action{
    display: none;
    grid-template-columns: repeat(3, 5em); 
    justify-content: center;
    align-items: center;
    grid-gap: 0;
}
.action a{
    text-align: center;
    border-bottom: solid 2px transparent;
    /*padding:  10px 1em;*/
    /*text-align: center;*/
   
}
.action a:hover{
    border-color: var(--primaryText);
    
    
}
.toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
}
.toggle .line{
    display: block;
    width: 35px;
    height: 3px;
    background-color: #ffffff;
}



@media only screen and (min-width: 768px){
.menu {
    display: flex;
    flex-direction: row;
}
.logo-toggle h3{
   
}
.action{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    justify-content: flex-end;
}

.toggle{
    display: none;
}

}

