

:root{
    --primaryBackground:#1F232D;
    --secondaryBackground:#16171d;
    --primaryText:#03b1b2;
}

body{
    background-color: var(--primaryBackground);
}
/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #262626;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

nav, .nav-menu{
    display: flex;
    justify-content: space-between;
    
}
nav{
    padding: 10px 20px;
}
.branding-hamburger{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    gap: 30px;
    background-color: #262626;
}

.hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
}
.bar{
    width: 30px;
    height: 3px;
    background-color: white;
}
.nav-link{
    border-bottom: solid 1px transparent;
}

.nav-link:hover{
    color: aqua;
    transition: 0.7s ease;
    border-color: aqua;
}
/**/


@media only screen and (max-width: 768px){
    nav{
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
        gap: 0px;
    }

    .hamburger{
        display: flex;
    }
  
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
        transition: 0.3s ease;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        transition: 0.3s ease;
    }
    .nav-menu{
        position: absolute;
        right: -100%;
        top: 50px;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        right: 0;
    }

}

